.container{
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.logoutBtn{
    background-color: rgb(103, 122, 178);
    padding: 24px;
    border-radius: 16px;
    border: none;
    color: #fff;
}

.title{
    width: 100%;
    text-align: center;
    color: #000;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 48px;
}

.btn{
    padding: 16px;
    background-color: rgb(60, 66, 66);
    border: none;
    border-radius: 8%;
    color: #fff;
}